<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://doc-08-b4-docs.googleusercontent.com/docs/securesc/vj63qbhum16h4tgit9j02q281lrbtf2s/seqeregg22sp3scsv1t2qutup2l6jn7i/1579514400000/05716242563050512159/05716242563050512159/16T60C9i6Nf8DLDk8wlJcIMBMa7lQPuYH?e=download&authuser=0&nonce=he351nktipdfg&user=05716242563050512159&hash=02bs7ecqskap</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.google.ios.youtube</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>cercube 🔥M4sterPing🔥</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
